@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
html {
    box-sizing: border-box;
    font-size: 20px;
    line-height: 30px;
}
*, *:before, *:after {
    box-sizing: inherit;
}
div > * {
    transform: translateX(0);
} 
body {
    margin: 0
}
body {
    background-color: var(--PageColor);
    font-family: Rubik, serif;
    /* font-family: "IBM Plex Sans", sans-serif; */
}

a {
    color: #0ef576;
    text-decoration: none;
    transition: 0.1s;
}
a:hover,
a:active {
    color: #0aa851;
    text-decoration: none;
    outline: 0;
    transition: 0.1s;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 24px;
    padding-left: 24px
}
img, svg {
    display: block
}
h4, h5 {
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0px
}
h1, .h1 {
    clear: both;
    color: #fff;
    font-weight: 600;
    margin-top: 48px;
    margin-bottom: 16px
}
p {
    margin-top: 0;
    margin-bottom: 24px
}
.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    transition: 0.2s;
}
@media (min-width: 481px) {
    .container {  
        transition: 0.2s;
        padding: 0 25px;
    }
}
.container {
    max-width: 1128px
}
.list-reset {
    list-style: none;
    padding: 0
}
.mt-0 {
    margin-top: -11px;
}
.hero {
    text-align: center;
    padding-top: 48px;
    padding-bottom: 88px
}
.hero-copy {
    position: relative;
    z-index: 1
}
.hero-cta {
    margin-bottom: 0px
}